section(id="business-user" class="business-user hidden" aria-hidden="true")
  form(id="business-user-form" name="business" action="/sign-up-business" method="post")
    input(type="hidden" name="usertype" value="business")
    fieldset
      legend Business Information

      div(class="field-group")
        label(for="business-name") Business name
        input(type="text" id="business-name" name="businessname" required)
        p(id="businessname-error" class="validation-msg error hidden")

      div(class="field-group")
        label(for="business-about") About your business
        textarea(id="business-about" name="businessabout" rows="5" required)
        p(id="businessabout-error" class="validation-msg error hidden")

    fieldset
      legend Address

      div(class="field-group")
        label(for="business-address") Business address
        textarea(id="business-address" name="businessaddress" rows="5" required)
        p(id="businessaddress-error" class="validation-msg error hidden")

    fieldset
      legend Contact information

      div(class="field-group")
        label(for="business-email") Email address
        input(type="email" id="business-email" name="businessemail" required)
        p(id="businessemail-error" class="validation-msg error hidden")

      div(class="field-group")
        input(type="checkbox" id="newsletter-business" name="newsletter" value="subscribe")
        label(for="newsletter-business" class="inline-label") Subscribe to our newsletter?

        p(class="newsletter-note") Our newsletter is sent out twice a month and you can unsubscribe at any time. We despise spam and will always honour your choice.

    input(class="cta" type="submit" value="Sign up")
