section(id="resident" class="general-user hidden" aria-hidden="true")
  form(id="resident-form" name="user" action="/sign-up-user" method="post")
    input(type="hidden" name="usertype" value="resident")
    div(class="field-group")
      label(for="username") Your name
      input(type="text" id="user-name" name="username" required)
      p(id="username-error" class="validation-msg error hidden")

    div(class="field-group")
      label(for="useremail") Email address
      input(type="email" id="user-email" name="useremail" required)
      p(id="useremail-error" class="validation-msg error hidden")

    div(class="field-group")
      input(type="checkbox" id="newsletter-user" name="newsletter" value="subscribe")
      label(for="newsletter-user" class="inline-label") Subscribe to our newsletter?

      p(class="newsletter-note") Our newsletter is sent out twice a month and you can unsubscribe at any time. We despise spam and will always honour your choice.

    input(class="cta" type="submit" value="Sign up")
