header(class="site-header")
    a(href="/")
        h1(class="logo")
        span(class="visually-hidden") Ourbackyard

    nav(class="main-nav")
        ul
            if locals.user
              li
                a(href="/account/user") Profile
              li
                a(href="/logout" class="cta") Logout
            else
              li
                a(href="/login" class="cta") Login
