meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title Welcome to Ourbackyard ~ Connecting people with local business
meta(name='keywords' content='business, local business, community, local, b2c')
meta(name='description' content='Connecting people with local businesses')

include rollbar.html
include ga.html
include linkedin.html
