div(class="newsletter")
    div(class="girdle")
        h3 Subscribe to our Newsletter
        p Be the first to know about new releases of the Ourbackyard platform. We send our newsletter roughly every two weeks. Unsubscribe at any time.

        form(id="3ejz8p" name="newsletter" method="post" action="https://sendfox.com/form/mp5zqq/3ejz8p" data-async="true")

            div(class="field-group")
                label(for="email" class="visually-hidden") Email address
                input(type="email" id="email" name="email" placeholder="you@domain.com" required)

                input(type="text" class="nobotz" name="a_password" tabindex="-1" value="" autocomplete="off" aria-hidden="true")

            button(type="submit" class="cta") Subscribe
