link(rel="stylesheet", type="text/css", href="../static/style/libs/reset.css", media="screen")
link(rel="stylesheet", type="text/css", href="../static/style/atoms/typography.css", media="screen")
link(rel="stylesheet", type="text/css", href="../static/style/main.css", media="screen")
link(rel="stylesheet", type="text/css", href="../static/style/components/policy.css", media="screen")
link(rel="stylesheet", type="text/css", href="../static/style/components/footer.css", media="screen")
