extends base/layout.pug

block meta_data
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Ourbackyard")
  meta(property="og:locale" content="en_ZA")
  meta(property="og:url" content="https://www.ourbackyard.co.za/")
  meta(property="og:title" content="About Ourbackyard - Connecting people with local business")
  meta(property="og:description" content="What if we could get the products and services we need while supporting the very business owners that share our community, that are our very neighbors?")
  meta(property="og:image" content="https://www.ourbackyard.co.za/static/media/structured-data/about.jpg")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="1200")
  meta(property="og:image:alt" content="A community of young people at an outdoor restaurant")

  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="About Ourbackyard - Connecting people with local business")
  meta(name="twitter:description" content="What if we could get the products and services we need while supporting the very business owners that share our community, that are our very neighbors?")
  meta(name="twitter:image" content="https://www.ourbackyard.co.za/static/media/structured-data/about.jpg")
  meta(name="twitter:image:alt" content="A community of young people at an outdoor restaurant")

block content
  main(class="internal")
    div(class="hero-img")

    div(class="wrapper")
      section(class="what-we-do")
        h2 About Ourbackyard

        p What if finding a local business could be as easy as finding the common big-name stores we use every day? What if we could get the products and services we need while supporting the very business owners that share our community, that are our very neighbors? Would this not lead to more connected, tightly knit, blossoming communities?

        p We believe so and feel that a connection with the people and lives around us is something missing from our modern, fast-paced lives. Doing our bit to improve is what drives us at Ourbackyard to build our platform. A platform built around people and local businesses.

        p Our goal is simple. Build an online platform for Hyperlocal communities where finding products or services is easy. A platform that makes it simple and affordable for local small businesses to advertise their services. A platform that puts local first.

        p One point we want to be upfront and clear about is privacy, data protection and misinformation.

        p A lot of online communities are plagued by data breaches and the collection of private information about their users without their knowledge or consent. Added to this is the problem of misinformation which leads to mistrust and a loss in confidence.

        p We are not only developers, but we are also users of the web, and strongly believe that the web can only succeed if everyone’s privacy is respected, their data is kept safe, and the information shared is true and trusted. We stand by that and will never collect any information you have not consented to. Period.

        p All comments and ratings displayed on Ourbackyard will always go through real human moderation. In instances where this is not the case, or should our practice in this regard ever change, you would be the first to know.

        p We are very excited about the future of Ourbackyard and supporting strong local communities. We hope that you share our excitement and would <a href="/contact">love to hear your ideas</a> for how Ourbackyard can help you and your business. We want Ourbackyard to be the first place you turn to.

block ld_json
  <script type="application/ld+json">
    include structured-data/about.json
  </script>
