extends base/layout.pug

block meta_data
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Ourbackyard")
  meta(property="og:locale" content="en_ZA")
  meta(property="og:url" content="https://www.ourbackyard.co.za/")
  meta(property="og:title" content="Contact Ourbackyard - Connecting people with local business")
  meta(property="og:description" content="We would love to hear your ideas for how Ourbackyard can help you and your business.")
  meta(property="og:image" content="https://www.ourbackyard.co.za/static/media/structured-data/main.jpg")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="1200")
  meta(property="og:image:alt" content="A sign with the words, Thank you for shopping local")

  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="Contact Ourbackyard - Connecting people with local business")
  meta(name="twitter:description" content="We would love to hear your ideas for how Ourbackyard can help you and your business.")
  meta(name="twitter:image" content="https://www.ourbackyard.co.za/static/media/structured-data/main.jpg")
  meta(name="twitter:image:alt" content="A sign with the words, Thank you for shopping local")

block content
  main(class="internal")
    div(class="hero-img-contact")

    div(class="wrapper")
      section(class="contact-us")
          p We are very excited about the future of Ourbackyard and supporting strong local communities. We hope that you share our excitement and would love to hear your ideas for how Ourbackyard can help you and your business.
          form(id="contact-form" name="contact-form" action="/contact-us" method="post")
              fieldset
                  legend Please enter your details and message

                  div(class="field-group")
                      label(for="name") Your name
                      input(type="text" id="name" name="name" required)
                      p(id="name-error" class="validation-msg error hidden")

                  div(class="field-group")
                      label(for="email") Email address
                      input(type="email" id="email" name="email" required)
                      p(id="email-error" class="validation-msg error hidden")

                  div(class="field-group")
                      label(for="message") Message
                      textarea(id="message" name="message" rows="5" required)
                      p(id="message-error" class="validation-msg error hidden")

                  input(class="cta" type="submit" value="Send")
          
          div(id="thank-you" class="thank-you-contact hidden")
              p Thank you for your message. If your message requires a response from us, we will get back to you as soon as possible.
              p Have an awesome day!

block ld_json
  <script type="application/ld+json">
    include structured-data/contact.json
  </script>
