extends base/layout.pug

block meta_data
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Ourbackyard")
  meta(property="og:locale" content="en_ZA")
  meta(property="og:url" content="https://www.ourbackyard.co.za/")
  meta(property="og:title" content="Ourbackyard - Connecting people with local business")
  meta(property="og:description" content="Empower local communities by connecting local, small businesses with the people living in their community.")
  meta(property="og:image" content="https://www.ourbackyard.co.za/static/media/structured-data/main.jpg")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="1200")
  meta(property="og:image:alt" content="A sign with the words, Thank you for shopping local")

  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="Ourbackyard - Connecting people with local business")
  meta(name="twitter:description" content="Empower local communities by connecting local, small businesses with the people living in their community.")
  meta(name="twitter:image" content="https://www.ourbackyard.co.za/static/media/structured-data/main.jpg")
  meta(name="twitter:image:alt" content="A sign with the words, Thank you for shopping local")

block content
  main
    section(class="what-we-do")
      header
        h2(class="lead") Find local. Support local.
        p Enter your postal code, the service, or product you need, and press search. Find and support local businesses.

      form(name="search" class="main-search" action="/search" method="get")
        div(class="field-group")
          label(for="postalcode") Postal code
          input(type="text" class="postalcode" name="postalcode" id="postalcode" placeholder="postal code"
          required)

        div(class="field-group")
          label(for="query") Service or product
          input(type="text" class="service-query" name="query" id="query" placeholder="Service your require"
          required)

        button(type="submit" class="button cta") Search

      h3(class="lead") Welcome to Ourbackyard. Thank you for stopping by.
      p Do you own a local business? Sign up for free today and advertise your services to your local community.
      a(id="sign-up" class="cta main-cta" href="login") Sign Up

block newsletter
  include includes/newsletter.pug

block ld_json
  <script type="application/ld+json">
    include structured-data/home.json
  </script>
