extends base/layout.pug

block content
  main(class="thank-you-page" role="main")
    h2 Thank you
    p Thank you for joining our newsletter. There is one more step to complete your subscription. Keep an eye on your inbox for an email from us to confirm your email address.
    p #[a(href="/") &laquo; Back home]
