extends ../base/layout.pug

block content
  main(class="signup girdle")
    h2 Complete your signup
    p Thank you for joining the Ourbackyard community!

    form(name="complete-signup" method="post" action="select-account-type")
      label(for="business-user") Business
        input(type="radio" id="business-user" name="role" value="business")

      label(for="individual-user") Individual
        input(type="radio" id="individual-user" name="role" value="individual")

      button(type="submit" class="cta primary") Complete Signup
