.cta {
  background-color: #523766;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 6px;
  min-width: 120px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #785a8f;
  }
}

.main-cta {
  width: 300px;
  padding: 20px;
  font-size: 1.3rem;
  letter-spacing: 0.035rem;
}
