.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 76vh;
}

.wrapper.internal {
  min-height: unset;
}

.girdle {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.cta-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
