@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../typography/Poppins-Regular.woff2") format("woff2"),
    url("../typography/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../typography/Poppins-Bold.woff2") format("woff2"),
    url("../typography/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
