doctype html
html(lang="en")
  include ../includes/head.pug

  block meta_data

  include ../includes/favicon.pug
  include ../includes/style.pug
  body
    div(class="wrapper")
      header(class="site-header")
        block header
          include ../includes/header.pug
          include ../includes/navigation.pug

      block content

    block footer
      include ../includes/footer.pug

    block ld_json
