doctype html
html(lang="en")
  include ../includes/head.pug

  block meta_data

  include ../includes/favicon.pug
  include ../includes/style.pug

  body
    div(class="wrapper")
      header(class="site-header")
        block header
          include ../includes/header.pug
          include ../includes/navigation.pug

      block content

    block newsletter

    block footer
      include ../includes/footer.pug

    block ld_json

    <script type="text/javascript" defer> window.$crisp=[];window.CRISP_WEBSITE_ID="00eb05d7-30e8-452e-8fc2-578e8ae40f0a";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
