footer {
  text-align: center;

  a:link,
  a:visited {
    color: #fff;
  }

  .social {
    background-color: #decbf4;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      height: 120px;
      max-width: 480px;

      li {
        display: inline;
      }
    }

    a::before {
      display: inline-block;
      content: "";
      background-size: 68px;
      width: 68px;
      height: 68px;
    }

    .instagram::before {
      background: transparent url("../media/social/instagram.svg") 0 0 no-repeat;
    }

    .twitter::before {
      background: transparent url("../media/social/twitter.svg") 0 0 no-repeat;
    }

    .facebook::before {
      background: transparent url("../media/social/facebook.svg") 0 0 no-repeat;
    }

    .facebook-messenger::before {
      background: transparent url("../media/social/facebook-messenger.svg") 0 0
        no-repeat;
    }
  }

  .meta {
    background-color: #4a4b53;
    color: #fff;
    padding: 50px;
    min-height: 120px;
  }

  .legal {
    @media screen and (min-width: 63.9385em) {
      display: flex;
      justify-content: space-around;
      margin: 20px auto 0;
      max-width: 650px;
    }

    li {
      margin: 10px 0;
    }
  }
}
