.site-header {
  padding: 40px 0 80px;

  @media #{$mq-tablet-and-up} {
    @supports (display: flex) {
      display: flex;
      align-items: center;

      a {
        flex-basis: 30%;
      }

      .main-nav {
        flex-basis: 70%;

        ul {
          list-style: none;
        }
      }
    }
  }
}
