.logo {
  margin-top: 20px;
  margin-bottom: 0;

  &::before {
    display: block;
    content: "";
    background: transparent url("../media/ourbackyard-logo.svg") 0 0 no-repeat;
    width: 370px;
    height: 100px;
  }
}
