doctype html
html(lang="en")
  include ../../includes/head.pug
  body
    div(class="wrapper internal")
      header(class="site-header")
        a(href="/")
          h1(class="logo")
            span(class="visually-hidden") Ourbackyard

    include ../includes/nav.pug

    main(class="wrapper internal")
      section(class="view-users")
        h1 User Accounts

        each val, index in users
          div(class="user")
            h3= val.name
            p= val.email
            
            form(name="edit-user" action="/admin/edit-user" method="post")
              input(type="hidden" name="email" value=val.email)
              input(type="submit" class="button" value="Edit User")

            form(name="delete-user" action="/admin/delete-user" method="post")
              input(type="hidden" name="email" value=val.email)
              input(type="submit" class="button" value="Delete User")

    include ../../includes/footer.pug
