footer {
  margin-top: 100px;
  text-align: center;
}

footer a:link,
footer a:visited {
  color: #fff;
}

footer .social {
  background-color: #decbf4;
}

footer .social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 120px;
  max-width: 480px;
}

footer .social li {
  display: inline;
}

footer .social a::before {
  display: inline-block;
  content: "";
  background-size: 68px;
  width: 68px;
  height: 68px;
}

footer .social a.instagram::before {
  background: transparent url("../../media/social/instagram.svg") 0 0 no-repeat;
}

footer .social a.twitter::before {
  background: transparent url("../../media/social/twitter.svg") 0 0 no-repeat;
}

footer .social a.facebook::before {
  background: transparent url("../../media/social/facebook.svg") 0 0 no-repeat;
}

footer .social a.facebook-messenger::before {
  background: transparent url("../../media/social/facebook-messenger.svg") 0 0
    no-repeat;
}

footer .meta {
  background-color: #4a4b53;
  color: #fff;
  padding: 50px;
  min-height: 120px;
}

footer .legal li {
  margin: 10px 0;
}

@media screen and (min-width: 63.9385em) {
  footer .legal {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
    max-width: 650px;
  }
}
